body
{
    background-color: whitesmoke
}

header
{
    margin-bottom: 20px;
}

header a
{
    background-color: #404040;
    color: white
}

.select
{
    border: 2px crimson solid;
}

button
{
    background-color: #404040;
    color: white 
}

button:focus
{
    background-color: darkgreen;
    color: white 
}

button:focus:hover
{
    background-color: green;
    color: white 
}

button:hover
{
    background-color: #606060;
    color: white 
}

#gagnant {
    color: green
}

#perdant {
    color: darkred
}

div{
    text-align: center
}
